@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <br/>
    <h5>Items: Item recall search</h5>
    <p>You can search an item you want to know how many customers bought or the item details.</p>
    <br/>
    <h5>Report: Annual Sales Report</h5>
    <p>There is a bar graph to check annual sales for all products.</p>
</div>
